# Build folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Secrets
secrets/
secrets/*.json

# Logs
*.log

# Publish outputs
*.publish.xml

# Node, if applicable
node_modules/

# Other
wwwroot/lib/
